.new_password{
    width: 300px;
    padding:40px;
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%); 
    background:antiquewhite;
    text-align: center;
    border-radius: 30px;
    border: 3px solid teal;
}
.new_password input[type="email"]{ 
    width: 200px;
    background: none;
    display:block;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    border: 2px solid teal;
    padding: 14px 10px;
    outline: none;
    color: black;
    border-radius: 100px;
    transition: 0.5s;
}
.new_password input[type="submit"]{
    font-size: 15px;
    font-family: sans-serif;
    width: 200px;
    background-color: teal;
    display:block;
    margin:5px auto;
    text-align: center;
    border: 2px solid teal;
    padding: 14px 10px;
    outline: none;
    color: white;
    border-radius: 100px;
    transition: 0.5s;
    cursor: pointer;
    font-weight: bold;
}
#pass{
    width: 300px;
    padding:40px;
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%); 
    background:antiquewhite;
    text-align: center;
    border-radius: 30px;
    border: 3px solid teal;
}
#pass input[type="text"]{
    width: 200px;
    background: none;
    display:block;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    border: 2px solid teal;
    padding: 14px 10px;
    outline: none;
    color: black;
    border-radius: 100px;
    transition: 0.5s;
}
#OK{
    font-size: 15px;
    font-family: sans-serif;
    width: 100px;
    background-color: teal;
    display:block;
    margin:5px 100px;
    text-align: center;
    border: 2px solid teal;
    padding: 14px 10px;
    outline: none;
    color: white;
    border-radius: 100px;
    transition: 0.5s;
    cursor: pointer;
    font-weight: bold;
}